<ion-header>
  <ion-navbar>
    <button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{title}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div [hidden]="!inProgress || quizOver">
    <ion-card>
      <ion-card-content>
        <ion-card-title>
          {{question}}
        </ion-card-title>
        <p>
          Выбирите правильный ответ:
        </p>
      </ion-card-content>
      <ion-list radio-group>
        <ion-item *ngFor="let opt of options" >
          <ion-label>{{opt}}</ion-label>
          <ion-radio (click)="checkAnswer($event, opt)"></ion-radio>
        </ion-item>
      </ion-list>
     </ion-card>
    <span full text-center secondary [hidden]="!correctAns">Верно</span>
    <span full text-center danger [hidden]="!inCorrectAns">Не верно</span>
    <button full outline padding [hidden]="answerMode" (click)="nextQuestion()">
      Следующий вопрос
    </button>

  </div>
  <div padding class="intro" [hidden]="inProgress">
    <ion-card>
      <ion-card-content>
        <ion-card-title text-center>
          Готовы?
        </ion-card-title>
        <button full outline danger id="startQuiz" (click)="start()">Начать</button>
      </ion-card-content>
    </ion-card>
  </div>

  <div [hidden]="!quizOver">
    <ion-card>
      <ion-card-content>
        <ion-card-title>
          Ваш результат
        </ion-card-title>
        <p>
          {{score}} из {{id}}
        </p>
      </ion-card-content>
    </ion-card>
    <button full outline padding (click)="reset()">
      начать сначала
    </button>

  </div>

</ion-content>
