<ion-header>
  <ion-navbar>
    <button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{lesson.title}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let content of lesson.contents">
        <ion-card>
          <ion-card-content *ngIf="content.content" [innerHTML]="content.content">
          </ion-card-content>
          <ion-item *ngIf="content.audio">
            <ion-note *ngIf="track.completed > 0 && track.duration > 0 && content.audio == is_this_audio" item-left>{{track.progress | audioTime}} / {{track.duration | audioTime}} - {{track.completed | percent}}</ion-note>
            <button (click)="play(content.audio)" primary clear item-right>
              <ion-icon name="navigate"></ion-icon>
              прослушать
            </button>
          </ion-item>
        </ion-card>
    </ion-item>
  </ion-list>
</ion-content>
