<ion-header>
  <ion-navbar>
    <button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{lesson.title}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div padding [innerHTML]="lesson.content"></div>

  <ion-list>
    <audio-track #audio *ngFor="let track of myTracks"  [track]="track" (onFinish)="onTrackFinished($event)">
      <ion-item>
        <ion-thumbnail item-left>
          <audio-track-play dark [audioTrack]="audio"><ion-spinner></ion-spinner></audio-track-play>
        </ion-thumbnail>

        <p><strong>{{audio.title}}</strong></p>
        <audio-track-progress-bar dark duration progress [audioTrack]="audio" [ngStyle]="{visibility: audio.completed > 0 ? 'visible' : 'hidden'}"></audio-track-progress-bar>
      </ion-item>
    </audio-track>
  </ion-list>

</ion-content>
