.main-menu .toolbar-title div{
  position: relative;
  bottom: 0;
  left: 0;
}

ion-menu, ion-page.show-page{
  background: url('../../img/back-menu.jpg');
  background-size: cover;
  background-position: center;
}

ion-content{
  opacity: 0.95;
  background: url('../../img/back-opacity.png');
}
ion-page.lessons-view-page ion-content{
  opacity: 1;
}
ion-menu{
  .item{
    opacity: 0.9;
  }

  ion-content{
    background: transparent;
  }

}
ion-navbar{
  ion-icon{
    color: red;
  }
}